# Build artifacts
build/
cmake-build-*/
out/

# vcpkg installed packages
vcpkg_installed/

# IDE files
.vs/
.vscode/
.idea/
*.user
*.suo

# Compiled objects
*.obj
*.o
*.a
*.lib
*.dll
*.exe
*.so
*.dylib
*.exp
*.pdb
*.ilk

# Temp files
*.tmp
*.step.tmp
build.bat
test.bat
test_detail.bat
